@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?dlv8ro');
  src: url('../fonts/icomoon.eot?dlv8ro#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dlv8ro') format('truetype'),
    url('../fonts/icomoon.woff?dlv8ro') format('woff'),
    url('../fonts/icomoon.svg?dlv8ro#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: '\e925';
}
.icon-info:before {
  content: '\e924';
}
.icon-file-gear:before {
  content: '\e922';
}
.icon-message-word:before {
  content: '\e923';
}
.icon-icon-star-circle-fill:before {
  content: '\e921';
}
.icon-mail:before {
  content: '\e916';
}
.icon-time-bad:before {
  content: '\e900';
}
.icon-time-good:before {
  content: '\e901';
}
.icon-time-normal:before {
  content: '\e902';
}
.icon-coin:before {
  content: '\e903';
}
.icon-cross:before {
  content: '\e904';
}
.icon-down-arrow:before {
  content: '\e905';
}
.icon-edit:before {
  content: '\e906';
}
.icon-face-bad:before {
  content: '\e907';
}
.icon-face-good:before {
  content: '\e908';
}
.icon-face-normal:before {
  content: '\e909';
}
.icon-file:before {
  content: '\e90a';
}
.icon-filter:before {
  content: '\e90b';
}
.icon-hide:before {
  content: '\e90c';
}
.icon-left-arrow:before {
  content: '\e90d';
}
.icon-list:before {
  content: '\e90e';
}
.icon-message:before {
  content: '\e90f';
}
.icon-message-blank:before {
  content: '\e910';
}
.icon-person:before {
  content: '\e911';
}
.icon-person-checked:before {
  content: '\e912';
}
.icon-person-circle:before {
  content: '\e913';
}
.icon-plus:before {
  content: '\e914';
}
.icon-plus-circle:before {
  content: '\e915';
}
.icon-right-arrow:before {
  content: '\e917';
}
.icon-search:before {
  content: '\e918';
}
.icon-share:before {
  content: '\e919';
}
.icon-shield-checked:before {
  content: '\e91a';
}
.icon-slide:before {
  content: '\e91b';
}
.icon-sparkle-checked:before {
  content: '\e91c';
}
.icon-star:before {
  content: '\e91d';
}
.icon-star-circle:before {
  content: '\e91e';
}
.icon-up-arrow:before {
  content: '\e91f';
}
.icon-fire:before {
  content: '\e920';
}
